@import 'fonts.css';
@import 'var.css';

::selection {
  background-color: rgba(141, 0, 35, 0.7);
}

body {
    color:              white;
    background-color:   black;
    margin:             0;
}

header{
    height:             95vh;
    max-height:         56.25vw;
    width:              100vw;
    text-align:         center;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    gap:                1cqw;
}

header > h1 {
    font-family:        kraft;
    color:              rgba(255, 255, 255, 0.95);
    font-size:          18cqw;
    margin:             0;
}

header > h2 {
    font-family:        mono;
    color:              rgba(255, 255, 255, 0.95);
    font-size:          2cqw;
    margin:             0;
}

.chapter-0 {
    background:         url(../pics/bgch0.png);
    background-size:    100% auto;
}

#divider-tape {
    background:         url(../pics/tapedivider.png);
    width:              100vw;
    margin:             0;
    height:             12vh;
    transform:          translate(0, -8vh) rotate(1deg);
    background-size:    cover;
    /* image-rendering:    crisp-edges; */
}
main {
    width:              95vw;
    margin:             0;
    margin-top:         -12vh;
    margin-inline:      auto;
}
h1 {
    font-family:        unbounded;
    margin:             1cqw;
    font-size:          2.3cqw;
}
.about {
    width:              94vw;
    margin-inline:      auto;
}
.about > p {
    height:             30vh;
    width:              67%;
    border-inline:      0.2cqw dashed rgb(12, 12, 12);
}
.fracs {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    height:             30vh;
}
.fracs>div {
    flex-grow:          1;
    width:              50%;
    transition:         all 1s;
}
.fracs>h3 {
    width:              10%;
    height:             10vh;
    margin-top:         10vh;
    font-family:        zozh;        
    font-size:          3cqw;
    text-align:         center;
    color:              rgb(119, 119, 119);
}
.fracs > div:hover {
    width:                  67%;
}
#phobos {
    background:         linear-gradient(to right, rgb(25, 9, 40), transparent);
    text-align:         left;
    padding-left:       2vw;
    Font-family:        mono;
}
#offsprings {
    background:         linear-gradient(to left, rgb(7, 18, 36), transparent);
    text-align:         right;
    padding-right:      2vw;
}