@import 'fonts.css';
@import 'var.css';

::selection {
  background-color: rgba(141, 0, 35, 0.7);
}

body {
    color:              white;
    background-color:   black;
    margin:             0;
}

header{
    height:             95vh;
    max-height:         56.25vw;
    width:              100vw;
    text-align:         center;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    gap:                1cqw;
}

header > h1 {
    font-family:        kraft;
    color:              rgba(255, 255, 255, 0.95);
    font-size:          18cqw;
    margin:             0;
}

header > h2 {
    font-family:        mono;
    color:              rgba(255, 255, 255, 0.95);
    font-size:          2cqw;
    margin:             0;
}

.chapter-0 {
    background:         url(../pics/bgch0.png);
    background-size:    100% auto;
}

#divider-tape {
    background:         url(../pics/tapedivider.png);
    width:              100vw;
    margin:             0;
    height:             12vh;
    transform:          translate(0, -8vh) rotate(1deg);
    background-size:    cover;
    /* image-rendering:    crisp-edges; */
}

/* Русское Поле Экспериментов */

dialog-nametag {
    font-family:        eno;
    font-size:          32px;
    display:            flex;
    align-items:        center;
    gap:                8px;
    color:              var(--accent);
    max-width:          90vw;
    margin-inline:      auto;
    margin-top:         20px;
}
dialog-nametag::before, dialog-nametag::after {
    content:            "";
    flex-grow:          1;
    height:             1px;
    background-color:   rgb(255, 255, 255);
}
